.cart-container {
  overflow-x: hidden;
  .cartlist {
    background: #fff;
    margin-bottom: 110rpx;
    .item {
      padding: 20rpx 0;
      border-bottom: 1rpx solid #f4f4f4;
      position: relative;
      .con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 300ms ease;
        .icon {
          height: 125rpx;
          width: 34rpx;
          background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat center center;
          background-size: 34rpx 34rpx;
          margin: 0 20rpx;
          &.disabled {
            opacity: .5;
          }
        }
        .icon.active {
          background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png) no-repeat center center;
          background-size: 34rpx 34rpx;
        }
        .img {
          height: 125rpx;
          width: 125rpx;
          display: block;
          background: #f4f4f4;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .info {
          padding: 20rpx;
          flex: 1;
          p {
            line-height: 40rpx;
          }
          .price-num {
            display: flex;
            .price {
              flex: 1;
            }
          }
        }
      }
      .delete {
        position: absolute;
        width: 100rpx;
        top: 0;
        right: -100rpx;
        text-align: center;
        height: 100%;
        background: #E51C23;
        color: #fff;
        transition: all 200ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          color: #fff;
        }
      }
    }
  }
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100rpx;
    line-height: 100rpx;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: center;
      background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat;
      background-size: 34rpx 34rpx;
      background-position: 20rpx;
      padding-left: 70rpx;
    }
    .active {
      background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png) no-repeat;
      background-size: 34rpx 34rpx;
      background-position: 20rpx;
    }
    .right {
      display: flex;
      div:nth-child(1) {
        color: #E51C23;
        padding-right: 40rpx;
      }
      div:nth-child(2) {
        width: 200rpx;
        height: 100rpx;
        text-align: center;
        line-height: 100rpx;
        font-size: 29rpx;
        background: #E51C23;
        color: #fff;
      }
    }
  }
  .no-data {
    margin-top: 200rpx;
    text-align: center;
    img {
      margin: 0 auto;
      display: block;
      width: 258rpx;
      height: 258rpx;
    }
    p {
      color: #ccc;
      margin-top: 30rpx;
    }
    .btn {
      margin-top: 30rpx;
    }
  }

  .add-or-decrease {
    width: 172rpx;
    height: 46rpx;
    border: 2rpx solid #d5d5d5;
    border-radius: 10rpx;
    display: flex;
    flex-direction: row;
    line-height: 46rpx;
    color: #666;
    .add-contain {
      width: 50rpx;
      height: 46rpx;
      display: flex;
      justify-content: center;
    }
    .add{
      height: 26rpx;
      font-size: 40rpx;
      line-height: 38rpx;
      width: 26rpx;
    }
    .decrease{
      font-size: 40rpx;
      width: 26rpx;
    }
    .decrease-contain {
      width: 50rpx;
      border-right: 2rpx solid #d5d5d5;
      height: 46rpx;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .number-contain {
      width: 72rpx;
      border-right: 2rpx solid #d5d5d5;
      height: 46rpx;
      display: flex;
      justify-content: center;
      text-align: center;
    }  
  }
}
