.goods {
  min-height: 100vh;
  background-color: #fff;
  .swiper {
    width: 750rpx;
    height: 500rpx;
    position: relative;
    .swiper-container {
      width: 750rpx;
      height: 500rpx;
      image {
        width: 750rpx;
        height: 500rpx;
      }
    }
  }

  .swiper-b {
    width: 710rpx;
    height: 73rpx;
    margin: 0 auto;
    background: #f4f4f4; // padding: 0 31.25rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      background: url('http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png') 0 center no-repeat;
      background-size: 10rpx;
      padding-left: 15rpx;
      display: flex;
      align-items: center;
      font-size: 25rpx;
      color: #666;
    }
  }

  .goods-info {
    background-color: #fff;
    padding: 20rpx;
    .title {
      font-size: 34rpx;
      line-height: 34rpx;
      margin-bottom: 20rpx;
    }
    .price{
      color: #E51C23;
      font-size: 34rpx;
      margin-right: 30rpx;
    }
    .old-price {
      color: #999999;
      text-decoration: line-through;
    }
    .num {
      float: right;
      color: #999;
    }
  }

  .add-cart-btn {
    background-color: #E56E1C;
  }
  .buy-btn {
    background-color: #E51C23;
  }

  .section-nav {
    display: flex;
    border-top: 1rpx solid #ccc;
    border-bottom: 1rpx solid #ccc;
    background-color: #fff;
    li {
      text-align: center;
      flex: 1;
      border-right: 1rpx solid #ccc;
      padding: 20rpx;
      &.active {
        background-color: #525252;
        color: #fff;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }

  .detail-panel {
    padding: 20rpx;
    font-size: 28rpx;
    line-height: 28rpx;
    img {
      width: 100%;
    }
  }

  .bottom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 750rpx;
    height: 100rpx;
    display: flex;
    background: #fff;
    z-index: 10;
    
    .contact-btn {
      height: 100rpx;
      width: 162rpx;
      border: 1rpx solid #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;

      .collect {
        display: block;
        height: 44rpx;
        width: 44rpx;
        background: url('../../../static/images/detail_kefu.png') no-repeat;
        background-size: 100% 100%;
      }
    }

    .cart-btn {
      height: 100rpx;
      width: 162rpx;
      border: 1rpx solid #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;

      .car {
        position: relative;
        height: 60rpx;
        width: 60rpx;

        span {
          height: 28rpx;
          width: 28rpx;
          z-index: 10;
          position: absolute;
          top: 0;
          right: 0;
          background: #b4282d;
          text-align: center;
          font-size: 18rpx;
          color: #fff;
          line-height: 28rpx;
          border-radius: 50%;
        }

        img {
          display: block;
          height: 44rpx;
          width: 44rpx;
          position: absolute;
          top: 10rpx;
          left: 0;
        }
      }
    }

    .btn {
      float: left;
      height: 100rpx;
      line-height: 96rpx;
      flex: 1;
      text-align: center;
      color: #fff;
    }
  }
}
