.task {
  padding: 20rpx 20rpx 4rpx 20rpx;
  padding-top: 80rpx;
  .tab-wrapper{
    border-bottom: 1rpx solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: #fff;
    width: 100%;
    .tab-title{
      height: 80rpx;
      line-height: 80rpx;
      text-align: center;
      position: relative;
      margin: 0 30rpx;
      & > em{
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0;
        border-top: 3px solid #1aad19;
        width: 100%;
        display: none;
      }
      &.current{
        color: #1aad19;
        font-size: 15px;
        & > em{
          display: inline-block;
        }
      }
      & > ins{
        border-width: 5px 5px 0 5px;
        border-color: #f4f4f4;
        border-top-color: #B5B5B5;
        border-style: solid;
        position: relative;
        top: -1px;
        height: 0;
        width: 0;
        // float: left;
        display: inline-block;
        /*transition:transform 0.2s ease-in 0s;*/
        _font-size:0;
      }
    }
  }


  .content{
    padding: 20rpx 0;
    .weui-form-preview__value{
      text-align: left;
    }
    .weui-form-preview{
      margin-bottom: 20rpx;;
    }
    .weui-form-preview:after {
      border-bottom: 0 none!important;
    }
    .weui-form-preview__ft{
      padding: 20rpx;
      .weui-btn{
        width: 90%;
      }
    }
  }


  .weui-form-preview{
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 20rpx;
    width: 100%;
    &:last-child{
      margin-bottom: 0;
    }
    .weui-form-preview__value{
      text-align: left!important;
    }
    .weui-form-preview__value_in-hd{
      text-align: left!important;
      font-size: 36rpx!important;
      color: #10AEFF!important;
    }
  }
}
