.index {
  .ph-dl{
    display: block;
    text-align: center;
    & > dt{
      padding: 20rpx 0 10rpx 0;
      // color: #10AEFF;
      color: #06AD56;
      font-size: 18px;
    }
    & > dd{
      padding: 0 0 20rpx 0;
    }
  }
  .score-num{
    font-size: 18px;
    color: #E64340;
    float: right;
  }
}
