.page {
  padding-bottom: 120rpx;
  min-height: 100%;
  background-color: #fff;
  position: relative;
  & > .operate-btn{
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 120rpx;
    padding: 20rpx;
  }
  .i-swipeout-button-group{
    height: 100%;
    width: 100%;
    .delete{
      width: 80px;
      float: left;
      display: flex;
      height: 100%;
      justify-content: center;
      background: #f00;
      color: #fff;
      align-items: center;
      font-size: 16px;
    }
  }
 }
