.appointment-container {
  .info-list {
    border-top: 1rpx solid #ddd;
    li {
      padding: 20rpx;
      background-color: #fff;
      border-bottom: 1rpx solid #ddd;
      .time {
        margin-right: 20rpx;
      }
    }
  }
}