.publish_task {
  // padding-bottom: 120rpx;
  // .sureBth{
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   padding: 20rpx;
  //   background-color: #fff;
  // }

  .weui-form-preview__hd,
  .weui-form-preview__value{
    text-align: left;
  }
  .weui-form-preview__value_in-hd{
    font-size: 32rpx;
  }
  .weui-form-preview{
    margin-top: 20rpx;
  }
  .weui-tab__content {
    // padding-top: 60px;
    text-align: center;
  }
  .weui-navbar__slider_0 {
    left: 29rpx;
    transform: translateX(0);
  }
  .weui-navbar__slider_1 {
    left: 29rpx;
    transform: translateX(250rpx);
  }
  .weui-navbar__slider_2 {
    left: 29rpx;
    transform: translateX(500rpx);
  }
}
