.page {

  //----滑动-----
  /* pages/myCollection/myCollection.wxss */
  .touch-item {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1rpx solid #ccc; */
    /* width: 100%; */
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
  }

  .content {
    width: 100%;
    padding-top: 20rpx;
    padding-bottom: 20rpx;
    padding-left: 20rpx;
    line-height: 50rpx;
    margin-right: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: translateX(180rpx);
    transform: translateX(180rpx);
    margin-left: -180rpx;
  }

  .del {
    background-color: orangered;
    width: 180rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    -webkit-transform: translateX(180rpx);
    transform: translateX(180rpx);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

  .touch-move-active .content, .touch-move-active .del {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: row;
  }

  .full_width {
    width: 100%;
  }

  .item-image{
    width: 110rpx;
    height: 110rpx;
    border-radius: 50%;
  }
  .item-text > view{
    padding-left: 10px;
  }
  .item-text > view:nth-child(1){
    font-size: 16px;
    padding:4rpx 0 6rpx 10px;
  }

  .item-text > view:nth-child(2){
    font-size: 14px;
    color: #ccc;
  }
  // height:100%!important;
  box-sizing: border-box;
  // padding-bottom: 120rpx;
  padding-left: 10rpx;
  padding-right: 10rpx;
  // padding-top: 51px;
  position: relative;
  & > .operate-btn{
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 120rpx;
    padding: 20rpx;
    z-index: 99;
    border-top: 1rpx solid #eee;
  }
  .no-t::before{
    border-top: 0 none!important;
    // border-bottom: 1rpx solid #ccc;
  }
  .no-t-b::before{
    border-top: 0 none!important;
  }
  .no-t-b::after{
    border-bottom: 0 none!important;
  }
  & > .weui-tab{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    // height: 51px;
    .weui-navbar__item{
      background-color: #fff!important;
    }
  }

  .gw-manage{
    color: #666!important;
  }
  .gw-manage::after{
    border: 1px solid #ccc!important;
  }
}
