.message-container{
  margin-top: 16rpx;
  padding-left: 45rpx;
  padding-right: 30rpx;
  font-size: 28rpx;
  line-height: 40rpx;
  color: #9c9c9c;
  border-left: 2rpx solid #dddddd;
  margin-left: 45rpx;
  .detail-item {
    margin-left: 20rpx;
    border-bottom: 1rpx solid #efefef;
    padding: 20rpx 0;
    position: relative;
    &:before {
      content: '';
      width: 20rpx;
      height: 20rpx;
      border-radius: 50%;
      background-color: #dddddd;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: -75rpx;
    }
    &:first-child {
      color: #2ab15c;
      &:before {
        content: '';
        font-size: 20rpx;
        color: #fff;
        background-color: #3dac66;
        margin-left: -85rpx;
        border: 10rpx solid #bce7cb;
      }
      &:after {
        content: '';
        position: absolute;
        width: 2rpx;
        background-color: #fff;
        height: 50%;
        top: -20rpx;
        margin-left: -66rpx;
      }
    }
    &:last-child {
      &:after {
        content: '';
        position: absolute;
        width: 2rpx;
        background-color: #fff;
        height: 50%;
        bottom: -10rpx;
        margin-left: -66rpx;
      }
    }
    .time {
      font-size: 24rpx;
      color: #E56E1C;
    }
  }
}
