.page {
  padding-bottom: 120rpx;
  position: relative;
  & > .operate-btn{
    background-color: #f4f4f4;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 120rpx;
    padding: 20rpx;
  }
  .nbt:before{
    border-top: 0 none;
  }
 }
