/*用户信息*/
.my-container {
  padding-bottom: 20rpx;
  .userinfo-btn {
    background-color: #fff;
    color: #333;
    .userinfo {
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: #fff;
      align-items: center;
      padding: 20rpx 40rpx;
      box-sizing: border-box;
      .userinfo-avatar {
        width: 110rpx;
        height: 110rpx;
        border-radius: 50%;
        vertical-align: middle;
        border: 1rpx solid #ddd;
        line-height: 32rpx;
        >span {
          position: relative;
          top: 24rpx;
        }
      }
      .font {
        flex: 1;
        text-align: left;
        margin-left: 30rpx;
        .userinfo-nickname {
          font-size: 34rpx;
          height: 34rpx;
          line-height: 34rpx;
        }
        .level-text {
          background-color: #E51C23;
          color: #fff;
          display: inline-block;
          padding: 6rpx 10rpx;
          border-radius: 10rpx;
          font-size: 28rpx;
          height: 36rpx;
          line-height: 36rpx;
        }
      }
    }
  }
  .head {
    width: 100%;
    height: 161rpx;
    align-content: center;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    .item {
      width: 33%;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      .number {
        font-size: 38rpx;
        font-weight: bold;
      }
      .text {
        font-size: 24rpx;
      }
    }
  }
  .market-contain {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #fff;
    margin-top: 17rpx;
    .title {
      display: flex;
      align-items: center;
      font-size: 30rpx;
      padding: 30rpx;
    }
    .view-all {
      font-size: 24rpx;
      color: #909090;
      flex: 1;
      text-align: right;
      margin-right: 10rpx;
    } 
    .right-inco {
      width: 14rpx;
      height: 29rpx;
    }
    .status-list {
      display: flex;
      align-items: center;
      padding: 30rpx 0;
      .item {
        flex: 1;
        text-align: center;
        position: relative;
        .iconfont {
          margin-bottom: 15rpx;
          color: #80D6B3;
          font-size: 24PX;
        }
        .num {
          position:absolute;
          color:#f45a5a;
          border:2rpx solid #f45a5a;
          border-radius:30rpx;
          padding:4rpx 8rpx;
          right:20rpx;
          top:-20rpx;
          background:#fff;
          font-size: 22rpx;
          min-width: 20rpx;
        }
      }
    }
  }
  .tab-list .item{
    width: 100%;
    height: 120rpx;
    line-height: 120rpx;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 20rpx;
    padding: 0 20rpx;
    box-sizing: border-box;
    .text {
      flex: 1;
      margin-left: 20rpx;
      margin-right: 20rpx;
      text-align: left;
    }
  }
}
