.login {
  .login-text{
    font-size: 40rpx;
    color: #BD6470;
    text-align: center;
    padding-bottom: 80rpx;
  }
	.logo{
		width: 205rpx;
		height: 255rpx;
    padding: 80rpx 0;
    margin: 0 auto;
    background-size: 100% 100%;
    img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
	}
}
