.login {
	.logo{
		width: 205rpx;
		height: 255rpx;
    padding: 50rpx 0;
    margin: 0 auto;
    background-size: 100% 100%;
    img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
	}
}
